<html>
<head>
	<title>Skeleton Main Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
	<div class="container" id="affirmation">
    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->
    <div class="jumbotron">

			<link href="css/bootstrap.min.css" rel="stylesheet">
			<link href="css/bootstrap-theme.min.css" rel="stylesheet">
			<link href="css/introHCI.css" rel="stylesheet">
      <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
      <h1>Affirmation</h1>
    </div>


    <div class="page" id="page1">
      <a href="/">
        <p>Back</p>
      </a>
    </div>

    <div class="checkbox">
  <label>
    <input type="checkbox" data-toggle="toggle" data-size="large">
    Health
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" data-toggle="toggle" data-size="large">
    Money
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" data-toggle="toggle" data-size="large">
    Love
  </label>
</div>

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Custom Affirmation">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary">Submit</button>
      </button>
    </div>
  </div>



<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/affirmation.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>



</body>
</html>
